body {
    margin : 0;
    padding : 0;
    background-color: #1D428A;
}

/* ------------------------------------------------------------
                            Header
   ------------------------------------------------------------- */

.header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 30px; 
    background-color: #111827;
    height: 80px; 
}

.header-text {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navigation {
    display: flex;
    justify-content: flex-end; 
    gap: 10px;
    height: 80px; 
}

.navigation-link {
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: white;
    transition: 0.3s ease, transform 0.2s;
    font-weight: 500;
    height: 100%;
    width: 100px;
}

.navigation-link:hover {
    background-color: #1d4ed8; 
    color: white;
    font-size: larger;
}

/* ------------------------------------------------------------
                            Player Page
   ------------------------------------------------------------- */

.players-input {
    width : 100%;
    padding : 12px; 
    border-radius : 8px; 
    border : 1px solid #d1d5db; 
    margin-bottom : 20px;
    box-sizing : border-box;
}

.player-title {
    margin : 0px 0px 20px 0px;
    color : #1f2937;
    font-family : sans-serif;
}

.container-div {
    width: 80%;
    min-width: 800px;
    padding : 20px; 
    background-color : #f3f4f6;
    margin : 20px ;
    border-radius : 12px;       
}

.flex-box {
    display: flex;
    justify-content: center;
}

/* ------------------------------------------------------------
                            Map Page
   ------------------------------------------------------------- */

.map-container {
    width: 80%;
    min-width: 800px;
    background-color : #f3f4f6;
    padding : 20px ;
    margin: 20px;
    border-radius : 12px;       
}